@{
	ViewData["Title"] = "About";
}
<head>
  <link rel="stylesheet" href="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.css">
  <script src="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.js"></script>
</head>

<body>
  <!-- Your HTML content goes here -->
  
  <script>
    PR.prettyPrint();
  </script>
</body>